import type { Conversion } from "../types/Conversion";

const conversion: Conversion = {
  aName: "[NAME OF THE FIRST TYPE]",
  bName: "[NAME OF THE SECOND TYPE]",
  aToB: function (input) {
    return "some result here"
  },
  bToA: function (input) {
    return "some result here"
  },
};

export default conversion;
